extends layout

block content
    h1(classs="empresa")  TRANSMASK 
    p(class="parrafo") Ponte la máscara que quieras #{title}
    textarea(placeholder="prueba")
    button(type="submit", class="boton") prueba 