extends layout

block content
    h1.empresa TRANSMASK 
    p.parrafo Ponte la máscara que quieras #{title}

    .container
        textarea#textInput(placeholder="Enter text here...")
        button(onclick="convertToBinary()") Convert
        textarea#binaryOutput(placeholder="traducción..." readonly)
    script(src="../basededatos/tablas/traductor.js")
