doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    link(rel="stylesheet", href="/css/styles.css")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Transmask

  body
    header.header
      .logo
        a.prueba(href="/")
          img(src="https://cdn-icons-png.flaticon.com/512/6877/6877672.png", alt="Logo")
      nav
        ul.nav-links
          li 
            a.btn(href="/register") registrar
            a.btn(href="/login") Login
           
       
    block content
